:root {
  --bgColor: rgb(23, 29, 34);
  --boxColor: rgb(35, 39, 53);
  --linkColor: rgb(0, 153, 255);
  --borderColor: rgb(255, 0, 76);
  --clockColor: rgb(255, 0, 76);
}

@font-face {
  font-family: 'Fira Code';
  src: url('woff2/FiraCode-Light.woff2') format('woff2'),
    url("woff/FiraCode-Light.woff") format("woff");
  font-weight: 100 400;
  font-style: normal;
}


html,
body {
  height: 100%;
  font-family: "Fira Code";
  font-weight: 300;
  background: var(--bgColor);
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.flex-container form {
  margin: 5px;
  font-family: "Fira Code";
  border: thin;
  border-color: var(--borderColor);
  border-style: solid;
  background-color: var(--boxColor);
}

.search-box {
  background: none;
  outline: none;
  border: none;
  line-height: 20px;
  position: relative;
  width: 450px;
  padding: 5px;
  font-family: "Fira Code";
  font-weight: 400;
  color: var(--linkColor);
  font-size: 1rem;
}

.flex-container .time {
  font-size: 1.75rem;
  font-weight: 100;
  color: var(--clockColor);

}

.flex-item .flex-item-container {
  background-color: var(--boxColor);
  width: 150px;
  height: 150px;
  float: left;
}

.flex-item .flex-item-container:not(:last-child) {
  margin-right: 5px;
}

a,
a:visited {
  color: var(--linkColor);
}

a:hover {
  color: white;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex-item-container .box-head {
  font-size: 1rem;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
  color: var(--linkColor);
}

.flex-item .flex-item-container .link {
  font-size: 0.85rem;
  padding-top: 3px;
  padding-left: 10px;
  text-align: left;
}

/* @media only screen and (max-width: 985px) {

} */
