@font-face {
  font-family: "Pokemon Pixel Font Regular";
  src: url("pokemon_pixel_font.eot?") format("eot"),
    url("/static/font/pokemon_pixel_font.woff") format("woff"),
    url("/static/font/pokemon_pixel_font.ttf") format("truetype"),
    url("/static/font/pokemon_pixel_font.svg#Pokemon-Pixel-Font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;

@tailwind components;

@tailwind utilities;
